@model IEnumerable<Teacher>

<h1>Bonjour depuis /Teacher/Index</h1>

<p>Voici les informations pour les enseignants</p>


@*
// First code of the week
 <table>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Subject</th>
</table>

@foreach (var teacher in Model)
{
    <th>@teacher.Firstname @teacher.Lastname @teacher.Age ans @teacher.Subject</th>
} *@

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.Firstname</td>
                <td>@teacher.Lastname</td>
                <td>@teacher.Age</td>
            </tr>
        }
    </tbody>
</table>