@model Event
<h1>Event Details</h1>
<div>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
    <p>@Model.EventDate.ToString("f")</p>
    <p>@Model.MaxParticipants Participants</p>
    <p>Location: @Model.Location</p>
    <p>Created at: @Model.CreatedAt.ToString("f")</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
